Node_Red_Flow.json
[{"id":"1b6a67e1.452c78","type":"tab","label":"For Dale","disabled":false,"info":""},{"id":"5339437c.bbfc4c","type":"server-state-changed","z":"1b6a67e1.452c78","name":"Candle Slider","server":"d9f5cae2.ae6b18","version":1,"entityidfilter":"input_number.candles","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":400,"y":310,"wires":[["d5dc113b.48472"]],"outputLabels":["ON"]},{"id":"d5dc113b.48472","type":"function","z":"1b6a67e1.452c78","name":"B%/E","func":"if (msg.payload > \"0\")\nmsg.payload =\n{\n    \"service\": \"turn_on\",\n    data:\n    {\"brightness_pct\": msg.payload, \"effect\":\"flicker\"}\n};\n\nif (msg.payload < \"1\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg\n","outputs":1,"noerr":0,"x":540,"y":310,"wires":[["152f60bf.512c4f","50725d41.91f294","62c91a4f.c540f4","5381d8c3.218b38","d844edd2.402ae","1fb4ad29.c40723"]]},{"id":"152f60bf.512c4f","type":"delay","z":"1b6a67e1.452c78","name":"Rand","pauseType":"random","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"2","randomUnits":"seconds","drop":true,"x":710,"y":190,"wires":[["36e5dde2.f517e2"]]},{"id":"50725d41.91f294","type":"delay","z":"1b6a67e1.452c78","name":"Rand","pauseType":"random","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"2","randomUnits":"seconds","drop":true,"x":710,"y":240,"wires":[["bd772728.8f0f58"]]},{"id":"62c91a4f.c540f4","type":"delay","z":"1b6a67e1.452c78","name":"Rand","pauseType":"random","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"2","randomUnits":"seconds","drop":true,"x":710,"y":290,"wires":[["33d1ed71.52d2c2"]]},{"id":"5381d8c3.218b38","type":"delay","z":"1b6a67e1.452c78","name":"Rand","pauseType":"random","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"2","randomUnits":"seconds","drop":true,"x":710,"y":340,"wires":[["b8bfe06c.7a1af"]]},{"id":"d844edd2.402ae","type":"delay","z":"1b6a67e1.452c78","name":"Rand","pauseType":"random","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"2","randomUnits":"seconds","drop":true,"x":710,"y":390,"wires":[["e35eead0.7de5b8"]]},{"id":"1fb4ad29.c40723","type":"delay","z":"1b6a67e1.452c78","name":"Rand","pauseType":"random","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"2","randomUnits":"seconds","drop":true,"x":710,"y":440,"wires":[["51556816.174958"]]},{"id":"36e5dde2.f517e2","type":"api-call-service","z":"1b6a67e1.452c78","name":"Candle 1","server":"d9f5cae2.ae6b18","version":1,"service_domain":"light","service":"","entityId":"light.candle_1, light.win_candle_1, light.back_candle_1","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":840,"y":190,"wires":[[]]},{"id":"bd772728.8f0f58","type":"api-call-service","z":"1b6a67e1.452c78","name":"Candle 2","server":"d9f5cae2.ae6b18","version":1,"service_domain":"light","service":"","entityId":"light.candle_2, light.win_candle_2, light.back_candle_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":840,"y":240,"wires":[[]]},{"id":"33d1ed71.52d2c2","type":"api-call-service","z":"1b6a67e1.452c78","name":"Candle 3","server":"d9f5cae2.ae6b18","version":1,"service_domain":"light","service":"","entityId":"light.candle_3, light.win_candle_3, light.back_candle_3","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":840,"y":290,"wires":[[]]},{"id":"b8bfe06c.7a1af","type":"api-call-service","z":"1b6a67e1.452c78","name":"Candle 4","server":"d9f5cae2.ae6b18","version":1,"service_domain":"light","service":"","entityId":"light.candle_4, light.win_candle_4, light.back_candle_4","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":840,"y":340,"wires":[[]]},{"id":"e35eead0.7de5b8","type":"api-call-service","z":"1b6a67e1.452c78","name":"Candle 5","server":"d9f5cae2.ae6b18","version":1,"service_domain":"light","service":"","entityId":"light.candle_5, light.win_candle_5, light.back_candle_5","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":840,"y":390,"wires":[[]]},{"id":"51556816.174958","type":"api-call-service","z":"1b6a67e1.452c78","name":"Candle 6","server":"d9f5cae2.ae6b18","version":1,"service_domain":"light","service":"","entityId":"light.candle_6, light.win_candle_6, light.back_candle_6","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":840,"y":440,"wires":[[]]},{"id":"d9f5cae2.ae6b18","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false}]